<table style="width:100%">
  <tr value="{{order._id}}">
    <td>{{bunType}}</td>
    <td>{{toFixed bunPrice 2}}</td>
  </tr>
  <tr value="{{order._id}}">
    <td>{{pattyType}}</td>
    <td>{{toFixed pattyPrice 2}}</td>
  </tr>
  <tr value="{{order._id}}">
    <td>{{cheeseName}}</td>
    <td>{{toFixed cheesePrice 2}}</td>
  </tr>
  <tr value="{{order._id}}">
    <td>{{firstTopping}}</td>
    <td>{{toFixed firstToppingPrice 2}}</td>
  </tr>
  <tr value="{{order._id}}">
    <td>{{secondTopping}}</td>
    <td>{{toFixed secondToppingPrice 2}}</td>
  </tr>
  <tr value="{{order._id}}">
    <td>{{thirdTopping}}</td>
    <td>{{toFixed firstToppingPrice 2}}</td>
  </tr>
  <tr value="{{order._id}}">
    <td>{{fourthTopping}}</td>
    <td>{{toFixed fourthToppingPrice 2}}</td>
  </tr>
  <tr value="{{order._id}}">
    <td>{{sideName}}</td>
    <td>{{toFixed sidePrice 2}}</td>
  </tr>
  <tr value="{{order._id}}">
    <td>{{drinkName}}</td>
    <td>{{toFixed drinkPrice 2}}</td>
    <tr value="{{order._id}}">
    <td><span>SUBTOTAL:</span></td>
    <td>{{toFixed subTotal 2}}</td>
  </tr>
