<body>
<div class='form'>
  <div id="order-form-wrapper">

  <h1>Edit Order Form</h1>
  <br>
  <form action="/users/editOrder/{{order.id}}" method="POST">
    <h5>Choose Your <b>Bun Type</b></h5>  
    <select class="form-select form-select-sm" aria-label=".form-select-sm example" style="width: 90%" name = "bunType">
      <option selected>{{order.bunType}}</option>
      {{#each buns }}
      {{> bunDIV buns=this}}
      {{/each}}
    </select>
    <br>
    <h5>Choose Your <b>Protein</b></h5>  
    <select class="form-select form-select-sm" aria-label=".form-select-sm example" style="width: 90%" name = "pattyType">
      <option selected>{{order.pattyType}}</option>
      {{#each patties }}
      {{> pattyDIV patties=this}}
      {{/each}}
    </select>
    <br>
    <h5>Choose Your <b>Cheese</b></h5>
    <select class="form-select form-select-sm" aria-label=".form-select-sm example" style="width: 90%" name = "cheeseName">
      <option selected>{{order.cheeseName}}</option>
      {{#each cheeses }}
      {{> cheeseDIV cheeses=this}}
      {{/each}}
    </select>
    <br>
    <h5>Choose Your <b>Toppings</b></h5>
    <select class="form-select form-select-sm" aria-label=".form-select-sm example" style="width: 90%" name ="firstTopping">
      <option selected>{{order.firstTopping}}</option>
      {{#each toppings }}
      {{> toppingDIV toppings=this}}
      {{/each}}
    </select>
    <br>
    <select class="form-select form-select-sm" aria-label=".form-select-sm example" style="width: 90%" name ="secondTopping">
      <option selected>{{order.secondTopping}}</option>
      {{#each toppings }}
      {{> toppingDIV toppings=this}}
      {{/each}}
    </select>
    <br>
    <select class="form-select form-select-sm" aria-label=".form-select-sm example" style="width: 90%" name ="thirdTopping">
      <option selected>{{order.thirdTopping}}</option>
      <option value="None">None</option>
      {{#each toppings }}
      {{> toppingDIV toppings=this}}
      {{/each}}
    </select>
    <br>
    <select class="form-select form-select-sm" aria-label=".form-select-sm example" style="width: 90%" name ="fourthTopping">
      <option selected>{{order.fourthTopping}}</option>
      <option value="None">None</option>
      {{#each toppings }}
      {{> toppingDIV toppings=this}}
      {{/each}}
    </select>
    <br>
    <h5>Choose Your <b>Sides</b></h5>
    <select class="form-select form-select-sm" aria-label=".form-select-sm example" style="width: 90%"  name="sideName">
      <option selected>{{order.sideName}}</option>
      {{#each sides }}
      {{> sideDIV sides=this}}
      {{/each}}
    </select>
    <br>
    <h5>Choose Your <b>Beverages</b></h5>
    <select class="form-select form-select-sm" aria-label=".form-select-sm example" style="width: 90%"  name = "drinkName">
      <option selected>{{order.drinkName}}</option>
      <option value="None">None</option>
      {{#each drinks }}
      {{> drinkDIV drinks=this}}
      {{/each}}
    </select>
    <br>
    <input type='submit' value='Confirm Edits' class="btn btn-primary"/>
  </form>
  </div> 
</body>
</html>
